body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.task-table {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px; /* Adjust the max-width as needed */
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}
.task-card {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.task-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.task-row {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task-details {
    flex: 1;
    word-wrap: break-word;
    max-width: 70%;
}
.task-actions {
    display: flex;
    align-items: center;
}
.copy-button,
.view-image-button {
    padding: 5px 10px;
    font-size: 14px;
    width: 70px;
}
.copy-button + .view-image-button {
    margin-left: 5px;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}
.popup img {
    max-width: 80%;
    max-height: 80%;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

/* Add this to your <style> section */
.select-wrapper {
position: relative;
display: inline-block;
width: 200px;
}

#weekSelector {
display: block;
width: 100%;
height: 40px;
padding: 10px;
font-size: 16px;
border: 1px solid #ced4da;
border-radius: 4px;
background-color: #ffffff;
appearance: none; /* Removes default styling */
-webkit-appearance: none; /* For Safari */
-moz-appearance: none; /* For Firefox */
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAMCAYAAABr5z2BAAAAKklEQVQoU2NkIBIwEqmOYf8PwClkIkEzBpgNSoyMDBMlFgMqMygxFVM0MwAAz3wU/Qdbb7EAAAAASUVORK5CYII=') no-repeat 95% center;
background-size: 15px;
box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.select-wrapper::after {
content: '';
position: absolute;
top: 16px;
right: 10px;
border: 8px solid transparent;
border-top-color: #555;
pointer-events: none;
}